html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: rgb(102,102,102);
}

#top-nav-bar img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#google-apps {
  height: 30px;
  padding: 15px 15px 8px 0;
  -webkit-filter: grayscale(100%);
}

#google-notifications {
  height: 20px;
  padding: 20px 15px 8px 0;
}

#google-profile {
  height: 30px;
  padding: 15px 25px 8px 0;
}

#google-images {
  padding: 22px 15px 8px 0;
}

#gmail {
  padding: 22px 15px 8px 0;
}

#top-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#top-nav-bar li {
  float: right;
  /*padding: 20px 8px 8px 8px;
  */text-align: right;
}

#top-nav-bar li:hover {
  text-decoration: underline;
}

#google-logo img {
  display: block;
  height: 165px;
  margin: 0 auto;
  padding-top: 120px;
  width: auto;
}

#google-search input {
  width: 550px;
  height: 40px;
  border-top-color: rgb(234,234,234);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(203,203,203);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-color: rgb(230,230,230);
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: rgb(221,221,221);
  border-left-style: solid;
  border-left-width: 1px;
  box-shadow: rgb(230,230,230) 0px 2px 5px 0px;
}

#google-search input:hover {
  box-shadow: rgb(230,230,230) 0px 4px 8px 2px;
}

#bottom-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(242,242,242);
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#bottom-nav-bar li:hover {
  text-decoration: underline;
}

#bottom-nav-bar .left-align-nav {
  float: left;
  padding-left: 30px;
  padding-top: 8px;
  display: block;
  height: 40px;
  width: 80px;
  text-align: left;
}

#bottom-nav-bar .right-align-nav {
  float: right;
  padding-top: 8px;
  padding-right: 30px;
  display: block;
  height: 40px;
  width: 50px;
  text-align: right;
}

#bottom-location-bar {
  float: left;
  display: block;
  text-align: left;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 40px;
  background-color: rgb(242,242,242);
  font-size: 15px;
  color: rgba(0,0,0,.54);
  padding-left: 30px;
}

#search-buttons input[type=submit] {
  display: inline-block;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 30px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 13px;
  font-family: arial, sans-serif;
  background-color: rgb(242,242,242);
  color: rgb(117,117,117);
  height: 36px;
  border: 0;
  border-radius: 0;
}

#search-buttons input:hover {
  border: 1px solid #c6c6c6;
  color: black;
}
